//-Modal
extends ../layouts/default.pug


block vars
    - var title = ''

block content
    .container(style='padding-top: 300px')
        p
            a(href='' data-toggle="modal" data-target="#senks") Форма отправлена
        p
            a(href='' data-toggle="modal" data-target="#media") Слайдер галереи
        p
            a(href='' data-toggle="modal" data-target="#news") Новость



