include ../b-order-form/b-order-form_senks

mixin b-modal_senks(data)
    // Modal
    #senks.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
        .modal-dialog.modal-md(role='document')
            .modal-content.modal-body
                button.modal-close(type='button', data-dismiss='modal', aria-label='Close')
                    !=  pugHelpers.Icon.call(locals, {iconName: 'close'})
                +b-order-form_senks


