include ../b-order-form/b-order-form_search-modal

mixin b-modal_form-search(data)
    // Modal
    #orderModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
        .modal-dialog.modal-lg(role='document')
            .modal-content.modal-body
                button.modal-close(type='button', data-dismiss='modal', aria-label='Close')
                    !=  pugHelpers.Icon.call(locals, {iconName: 'close'})
                +b-order-form_search-modal
