.page-header {
  padding-top: rem(70);
  .row {
    align-items: center;
  }
}
.page-header__logo {

}
.page-header__img {

}
.page-header__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.page-header__tel {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 0.72;
}
.page-header__callme {
  @include btn;
  @include btn-white-transparent;
  margin-left: rem(35);
}
.page-header__gamburger {
  margin-left: rem(35);
  position: relative;
  z-index: 60;
}

@include media-breakpoint-down(md) {
  .page-header {
    padding-top: 70px;
  }
  .page-header__gamburger {
    margin-left: 37px;
  }
  .page-header__callme {
    margin-left: 37px;
  }
  .page-header__callme {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 16px 22px;
  }
}
@include media-breakpoint-down(sm) {
  .page-header {
    padding-top: 33px;
  }
  .page-header__gamburger {
    margin-left: 6.6vw;
  }
  .page-header__right {
    margin-top: -7%;
  }
  .page-header__callme {
    font-size: 1.8vw;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 2.7vw 4.1vw;
    margin-left: 5.3vw;
  }
  .page-header__tel {
    font-size: 2.6vw;
  }
  .page-header__logo {
    display: block;
    max-width: 17vw;
  }
  .page-header__col-right {
    flex-grow: 1;
  }
}
@include media-breakpoint-down(xs) {
  .page-header__callme {
    display: none;
  }
  .page-header__tel {
    font-size: 16px;
  }
}
