mixin b-small-places(data)
    +b.b-small-places
        +e.row
            +e.col-photo
                +e.photo(style='background-image:url(%=static=%img/content/p1.jpg)')
            +e.col-photo
                +e.photo(style='background-image:url(%=static=%img/content/p2.jpg)')
            +e.col-stat
                +e.stat
                    .row
                        .col-4.hidden-lg-up
                            +e.item
                                +e.num 23
                                +e.val ситихауса со вторым светом и отдельным входом
                        .col-4.col-lg-6
                            +e.item
                                +e.num 15
                                +e.val минут пешком до Центральной площади
                        .col-4.col-lg-6
                            +e.item
                                +e.num 3
                                +e.val минуты пешком до набережной
                    +e.border
                        +e.border-line
